<section>
    <h1>Sponsors</h1>
    <ul>
        <li>
          <a href="http://www.ericsson.com" rel="nofollow"><img src="{{ site.root_url }}/img/elogo.png" alt="Ericsson" /></a>
        </li>
        <li> 
            <a href="http://www.erlang.org" rel="nofollow"><img src="{{ site.root_url }}/img/erlang110.gif" width="110" height="96" alt="Erlang logo"/></a>
        </li>
		<li>
            <a href="http://www.headwaysoftware.com/products/" rel="nofollow"><img src="{{ site.root_url }}/img/sr101-5-icon-white-180x85.png" width="180" height="85" alt="Structure101 - Tools to reduce the complexity of your codebase"/></a>
        </li>
        <li>
        	<a href="http://www.ej-technologies.com/products/jprofiler/overview.html" rel="nofollow"><img src="{{ site.root_url }}/img/jprofiler.png" alt="JProfiler - award-winning all-in-one Java profiler"/></a>
        </li>
	</ul>
</section>
