<div
    class='bg-gray-900 text-gray-500 relative flex flex-wrap items-center content-between py-3 px-4 top-0 left-0 right-0 z-50 fixed w-full'>
    <div class='container mx-auto sm:px-4'>
        <a class='hidden inline-block align-middle text-center select-none border font-normal whitespace-no-wrap rounded py-1 px-3 leading-normal no-underline'
            > <span class='icon-bar'>...</span></a>
        <div class=''>
            <ul class='flex flex-wrap gap-4 list-none pl-0 mb-0'>
                <li class="flex-1">
                    <a href='/' class="flex gap-2"><img src="/assets/images/erlide-64.gif" width="32" alt="Home" /> Home</a>
                </li>
                <li>
                    <a href="/blog">News</a>
                </li>
                <li>
                    <a href="/articles/eclipse/120_Installing-and-updating.html#update_sites">Download</a>
                </li>
                <li>
                    <a href="/articles/eclipse/index.html">Documentation</a>
                </li>
                <li>
                    <a href='/community.html'>Community</a>
                </li>
                <li>
                    <a href='https://erlang.org'>Erlang.org</a>
                </li>
            </ul>
        </div>
    </div>
</div>
