<div class='navbar navbar-inverse navbar-fixed-top'>
    <div class='navbar-inner'>
        <div class='container'>
            <a class='btn btn-navbar' data-target='.nav-collapse' data-toggle='collapse'> <span class='icon-bar'></span> <span class='icon-bar'></span> <span class='icon-bar'></span> </a>
            <div class='nav-collapse'>
                <ul class='nav'>
                    <li>
                        <a href='/'><img src="/assets/images/erlide-64.gif" width="32"/> Home</a>
                    </li>
                    <li>
                        <a href="/blog">News</a>
                    </li>
                    <li>
                        <a href="/articles/120_Installing-and-updating.html#update_sites">Download</a>
                    </li>
                    <li>
                        <a href="/articles/index.html">Documentation</a>
                    </li>
                    <li>
                        <a href='/community.html'>Community</a>
                    </li>
                    <li>
                        <a href='http://erlang.org'>Erlang site</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
