---
title: News
layout: blog
---
<div class="flex flex-col gap-6">
    {% for post in site.posts limit:5 %}
    {% assign content = post.content %}
    <article class="flex flex-col">

        <header class="flex">
            <div class="flex-1 font-fancy text-lg font-bold text-blue-800">
                <a href="{{ post.url }}">
                    {% if site.titlecase %}{{ post.title | titlecase }}{% else %}{{ post.title }}{% endif %}
                </a>
            </div>
            <span class="text-gray-700">
                {% include post/date.html %}{{ time }}
            </span>
        </header>
        <div class="prose">{{ post.excerpt }}</div>
        <footer>
            {% capture excerpted %}{{ content | has_excerpt }}{% endcapture %}
            {% if excerpted == 'true' %}
            <a rel="full-article" href="{{ post.url }}">{{ site.excerpt_link }}</a>
            {% endif %}
        </footer>

    </article>
    {% endfor %}

    <article>
        <header>
            <h2 class="font-fancy text-lg font-bold text-blue-900"><a href="/blog/archives">All posts</a></h2>
        </header>
    </article>

</div>
