---
title: News
layout: default
---

<div class="blog-index">
  {% assign index = true %}
  {% for post in site.posts %}
  {% assign content = post.content %}
    <article>
      {% include article.html %}
    </article>
  {% endfor %}
    <a href="/blog/archives">Blog Archives</a>
</div>
<aside class="sidebar">
    {% include custom/asides/install_links.html %}
    {% include asides/recent_posts.html %}
    {% include custom/asides/sponsors.html %}
    {% include custom/asides/links.html %}
</aside>
