// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

.sgsn { 
  display: none;
}

.planned:before {
  content: "[planned] ";
}

.planned {
  color: #888;
}

._A80103
{
	color: #A80103;
}
._5C4A95
{
	color: #5C4A95;
}
 
#logo
{
	text-align: center;
	color: #444;
	overflow: hidden;
	padding-bottom: 14px;
	width: 35%;
	float:left;
}
#logo .logo 
{
	margin: 28px 0 15px;
	font-family: Georgia, serif;
	font-weight: 800;
	text-align: center;
	font-size: 1em;
	/*+text-shadow:4px 4px #DDDDDD;*/
	-moz-text-shadow: 4px 4px #DDDDDD;
	-webkit-text-shadow: 4px 4px #DDDDDD;
	-o-text-shadow: 4px 4px #DDDDDD;
	text-shadow: 4px 4px #DDDDDD;
}
#logo A
{
	color: #26A;
	text-decoration: none;
}
#logo A:hover
{
	color: #69E;
}

.intro {
	width: 45%;
	float: right;
}
.intro P
{
	margin-top: 4em;
	margin-left: 0em;
	margin-right: 2em;
	font-size: 0.6em;
	border-left: 1px solid #BBB;
	padding-left: 1em;
}
@media only screen and (max-width: 767px) {		
	.intro P
	{
		margin-top: 1em;
	}
}
@media only screen and (max-width: 550px) {
	.intro {
		display: none;
	}
	#logo {
		width: 100%;
	}
}

ul.col li {
	float: left;
	width: 50%;
}

@import "custom/pricing";

.image_left {
  float:left;
  height:80px;
  margin-right:10px;
}
.team {
  -webkit-box-shadow:rgba(0, 0, 0, 0.247059) 0 1px 3px, rgba(0, 0, 0, 0.0980392) 0 1px 0 inset;
  background-image:-webkit-linear-gradient(top, #FFFFFF 0%, #EBEBEB 100%);
  background-position:initial initial;
  background-repeat:initial initial;
  border-bottom-left-radius:4px;
  border-bottom-right-radius:4px;
  border-top-left-radius:4px;
  border-top-right-radius:4px;
  box-shadow:rgba(0, 0, 0, 0.247059) 0 1px 3px, rgba(0, 0, 0, 0.0980392) 0 1px 0 inset;
  height:80px;
  margin-bottom:15px;
  padding:10px;
  position:relative;
}

/* ====== media ====== */
.media {margin:10px;}
.media, .body {overflow:hidden; _overflow:visible; zoom:1;}
.media .img {float:left; margin-right: 10px;}
.media .img img{display:block;}
.media .imgExt{float:right; margin-left: 10px;}
//
.media .img img { width: 80px; }
.media .body h3 {
	float: left;
	width: auto;
}
.media .body p {
	text-size: 0.9em;
	float: right;
	width: 50%;
}